<MudItem Class="mb-md-10 mb-sm-10 ">
    <MudPaper Tag="Idx" Square Style="@GetStyle()" Height="14px" @onmousedown="HandleMouseDown"
              @onmouseenter="HandleMouseEnter"
              @onmouseup="HandleMouseUp">
        <div class="@GetClass()">
            @if(Number is not null)
            {
                <span class="number1" >@To24OrAmPm(new TimeSpan((int)Number, 00, 00), _timeFormat)</span>
            }
        </div>
    </MudPaper>
</MudItem>
