<MudItem Class="mb-md-10 mb-sm-10 ">
    <MudPaper Tag="Idx" Square Style="@GetStyle()" Height="14px" @onmousedown="HandleMouseDown"
              @onmouseenter="HandleMouseEnter"
              @onmouseup="HandleMouseUp">
        <div class="@GetClass()">
            <span class="number1">@Number</span>
        </div>
    </MudPaper>
</MudItem>
